//Colors:

/* HSL */
$color1: hsla(285%, 18%, 4%, 1);
$color2: hsla(165%, 100%, 99%, 1);
$color3: hsla(240%, 11%, 93%, 1);
$color4: hsla(55%, 100%, 51%, 1);
$color5: hsla(217%, 100%, 41%, 1);

/* RGB */
$color1: rgba(12, 9, 13, 1);
$color2: rgba(251, 255, 254, 1);
$color3: rgba(234, 234, 238, 1);
$color4: rgba(255, 234, 7, 1);
$color5: rgba(0, 80, 209, 1);

// FONTS:

$Roboto: "Roboto", sans-serif;
$Bebas: "Bebas Neue", cursive;
