// Partials import:
@import "partials/setup";
@import "partials/variables";

//AUXILLIARY STYLING
html {
  padding: 0;
  margin: 0;
  font-size: 125%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

//VISUALLY HIDDEN STORED FOR POTENTIAL RETROFIT OF INPUTS
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

//INTRODUCTION STYLING:
//LOGO STYLING
.logo {
  display: flex;
  flex-direction: column;
  background: $color2 url("../assets/orangeJulius2.png") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  h1 {
    text-align: center;
    font-family: $Bebas;
    font-size: 6rem;
    color: $color1;
    margin-top: 10px;
  }
}

//INSTRUCTIONS STYLING
.instructions {
  display: flex;
  align-content: center;
  flex-direction: column;
  background: $color2;
  h2 {
    color: $color1;
    font-family: $Bebas;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  p {
    font-size: 1rem;
    font-family: $Roboto;
    color: $color1;
  }
  li {
    margin: 0;
    list-style: none;
    padding-bottom: 15px;
    font-size: 1rem;
    font-family: $Roboto;
    color: $color1;
  }
}

.yellowBox {
  background: $color4;
}

.grayBox {
  background: $color3;
}

.textBox {
  padding: 20px 0;
}

//CIPHERS SECTION STYLING
.ciphers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: $color2;
}

//DROPDOWN MENU
.usersShiftChoice {
  margin: 40px 0;
  font-family: $Bebas;
  font-size: 1.5rem;
}
select:focus {
  outline: 3px solid red;
}

//TEXT INPUT FOR USER
.messageToRun {
  width: 90%;
  margin-bottom: 20px;
  p {
    margin: 15px 0;
    padding-top: 20px;
    font-family: $Bebas;
    font-size: 1.5rem;
  }
  input {
    display: block;
    width: 100%;
    padding: 20px;
    height: 50px;
    background: rgba(234, 234, 238, 0.3);
    border: 2px solid $color1;
  }
  input:focus {
    outline: 3px solid red;
  }
}

//ENCRYPT BUTTON
.encryptButton {
  width: 50%;
  text-align: center;
  #encryptMessage {
    width: 80%;
    border: none;
    padding: 10px;
    margin: 10px 0;
    font-family: $Bebas;
    font-size: 1.5rem;
    background: $color1;
    color: $color2;
  }
  #encryptMessage:hover {
    color: $color2;
    background: $color5;
    cursor: pointer;
  }
  input:focus {
    outline: 3px solid red;
  }
}

//DECRYPT BUTTON
.decryptButton {
  width: 50%;
  text-align: center;
  #decryptMessage {
    width: 80%;
    border: none;
    padding: 10px;
    margin: 10px 0;
    font-family: $Bebas;
    font-size: 1.5rem;
    background: $color1;
    color: $color2;
  }
  #decryptMessage:hover {
    color: $color2;
    background: $color5;
    cursor: pointer;
  }
  input:focus {
    outline: 3px solid red;
  }
}

//DIV FOR USERS OUTPUT MESSAGE
.encodedMessage {
  width: 90%;
  p {
    margin: 15px 0;
    font-family: $Bebas;
    font-size: 1.5rem;
  }
}

.messageDisplay {
  border: 2px solid $color1;
  background: rgba(234, 234, 238, 0.3);
  width: 100%;
  height: 250px;
  padding: 15px;
  margin-bottom: 5%;
}

//MEDIA QUERIES

@media (max-width: 1230px) {
  .textBox {
    padding: 40px;
  }
}

@media (max-width: 750px) {
  .logo h1 {
    font-size: 5rem;
  }
}

@media (max-width: 625px) {
  .logo h1 {
    font-size: 4rem;
  }
}

@media (max-width: 550px) {
  .logo h1 {
    font-size: 3rem;
  }

  .usersShiftChoice {
    padding: 50px;
    font-size: 1.3rem;
  }
}

@media (max-width: 375px) {
  .logo h1 {
    margin-top: 50px;
    font-size: 2.5rem;
  }
}
