html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

/* HSL */
/* RGB */
html {
  padding: 0;
  margin: 0;
  font-size: 125%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fbfffe url("../assets/orangeJulius2.png") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.logo h1 {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 6rem;
  color: #0c090d;
  margin-top: 10px;
}

.instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fbfffe;
}

.instructions h2 {
  color: #0c090d;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  margin-bottom: 10px;
}

.instructions p {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #0c090d;
}

.instructions li {
  margin: 0;
  list-style: none;
  padding-bottom: 15px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #0c090d;
}

.yellowBox {
  background: #ffea07;
}

.grayBox {
  background: #eaeaee;
}

.textBox {
  padding: 20px 0;
}

.ciphers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fbfffe;
}

.usersShiftChoice {
  margin: 40px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
}

select:focus {
  outline: 3px solid red;
}

.messageToRun {
  width: 90%;
  margin-bottom: 20px;
}

.messageToRun p {
  margin: 15px 0;
  padding-top: 20px;
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
}

.messageToRun input {
  display: block;
  width: 100%;
  padding: 20px;
  height: 50px;
  background: rgba(234, 234, 238, 0.3);
  border: 2px solid #0c090d;
}

.messageToRun input:focus {
  outline: 3px solid red;
}

.encryptButton {
  width: 50%;
  text-align: center;
}

.encryptButton #encryptMessage {
  width: 80%;
  border: none;
  padding: 10px;
  margin: 10px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
  background: #0c090d;
  color: #fbfffe;
}

.encryptButton #encryptMessage:hover {
  color: #fbfffe;
  background: #0050d1;
  cursor: pointer;
}

.encryptButton input:focus {
  outline: 3px solid red;
}

.decryptButton {
  width: 50%;
  text-align: center;
}

.decryptButton #decryptMessage {
  width: 80%;
  border: none;
  padding: 10px;
  margin: 10px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
  background: #0c090d;
  color: #fbfffe;
}

.decryptButton #decryptMessage:hover {
  color: #fbfffe;
  background: #0050d1;
  cursor: pointer;
}

.decryptButton input:focus {
  outline: 3px solid red;
}

.encodedMessage {
  width: 90%;
}

.encodedMessage p {
  margin: 15px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
}

.messageDisplay {
  border: 2px solid #0c090d;
  background: rgba(234, 234, 238, 0.3);
  width: 100%;
  height: 250px;
  padding: 15px;
  margin-bottom: 5%;
}

@media (max-width: 1230px) {
  .textBox {
    padding: 40px;
  }
}

@media (max-width: 750px) {
  .logo h1 {
    font-size: 5rem;
  }
}

@media (max-width: 625px) {
  .logo h1 {
    font-size: 4rem;
  }
}

@media (max-width: 550px) {
  .logo h1 {
    font-size: 3rem;
  }
  .usersShiftChoice {
    padding: 50px;
    font-size: 1.3rem;
  }
}

@media (max-width: 375px) {
  .logo h1 {
    margin-top: 50px;
    font-size: 2.5rem;
  }
}
/*# sourceMappingURL=main.css.map */